.pokemon-evolution-trees {

}

.pokemon-evolution-tree {
    background-color: aquamarine;
    border: 3px solid black;
    display: inline-flex;
    gap: 10px;
    padding: 5px 10px;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    align-items: stretch;
}

.pokemon-evolution-pokemon {
}

.pokemon-evolution-image {
    height: 100px;
    width: auto;
}

.pokemon-evolution-image-outline {
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    padding: 15px;
}

.evolution-column-container,
.evolution-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.evolution-pokemon-text {
  color: black;
  font-size: 1em;
  margin: 10px;
  display: block;
  text-decoration: none;
}

.evolution-primary-text {
  font-size: 0.8em;
}

.evolution-secondary-text {
  font-size: 0.6em;
}