body {
  font-family: sans-serif;
  margin: 0;
}

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: rgb(237, 11, 11);
  top: 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

main {
  position: relative;
  margin: 110px 30px;
}

h1 {
  text-align: center;
}

.no-pokemon-found {
  color: red;
}

.pokemon-form {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 20px;
  min-width: 400px;
  width: 40%;
  border: 2px solid gray;
  padding: 10px;
  --form-padding-left-right: 10px;
  border-radius: 5px;
  justify-content: center;
}

.response-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.pokemon-response-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 5px;
  justify-items: center;
  align-self: stretch;
}


.charging-gif {
  width: 20px;
  height: auto;
}

.pokemon-search-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Pokémon card classes */

.pokemon-card {
  border: 5px solid rgb(255, 255, 10);
  width: 150px;
  text-align: center;
  background: lightblue;
  border-radius: 8px;
  position: relative;
  padding: 10px 0;
}

.pokemon-audio-button {
  all: unset;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.audio-icon {
  height: 20px;
  width: auto;
}

.pokemon-type-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.pokemon-type-img {
  width: 60px;
  height: auto;
}

.pokemon-name {
  font-family: cursive;
  color:midnightblue;
}

.pokemon-img {
  background: white;
  border: thick double gray;
}


/* Autocomplete classes */

.autocomplete-container {
  list-style-type: none;
  position: absolute;
  background: white;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  border: 1px black;
  padding: 0;
  margin: 0;
  z-index: 1;
  left: var(--form-padding-left-right);
  right: var(--form-padding-left-right);
}

.autocomplete-element {
  cursor: default;
  padding: 2px;
}

.autocomplete-element:hover {
  background: whitesmoke;
}


/* Validation classes */

.no-valid-campus {
  color: red;
  margin: 0;
}

/* Input classes */

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search-name-form {
  display: flex;
  flex-direction: row;
}
