h1 {
  text-align: center;
}

.pokemon-form-container {
  display: flex;
  justify-content: center;
}

.pokemon-card {
  border: 5px solid rgb(255, 255, 10);
  width: 150px;
  text-align: center;
  background: lightblue;
  border-radius: 8px;
  position: relative;
  padding: 10px 0;
}

.pokemon-name {
  font-family: cursive;
  color:midnightblue;
}

.pokemon-img {
  background: white;
  border: thick double gray;
}

.no-pokemon-found {
  color: red;
}

.pokemon-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 400px;
  width: 40%;
  border: 2px solid gray;
  padding: 10px;
  border-radius: 5px;
  justify-content: center;
}

.response-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-response-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 5px;
  justify-items: center;
  align-self: stretch;
}

/* audio-icon */
.pokemon-audio-button {
  all: unset;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.audio-icon {
  height: 20px;
  width: auto;
}

.pokemon-type-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.pokemon-type-img {
  width: 60px;
  height: auto;
}

.expand-search-button {
  margin-top: 20px;
  align-items: center;
  width: 20%;
}

.charging-gif {
  height: 20px;
  width: auto;
}